# Exclude some common binary file types
*.swp
*.so
*.o

# Exclude all files built by the Genetics example
Genetics/example/obj
Genetics/example/example

# Exclude all files built by the Plugin example
Plugin/example/obj
Plugin/example/plugin
Plugin/example/example


